*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.map
*.mo
*.pyc
*.pyo
*.js.map
*.tmp*
.*.cfg
.DS_Store
.idea
/bin/
/build/
/develop-eggs/
/dist/
/docs/_screenshots/*.png
/downloads/
/eggs/
/extras/
/fake-eggs/
/html/
/include/
/lib/
/local/
/parts/
/var/
components
node_modules
