*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.tmp*
.*.cfg
.idea
/bin/
/build/
/develop-eggs/
/dist/
/docs/_screenshots/*.png
/downloads/
/eggs/
/extras/
/fake-eggs/
/html/
/parts/
/var/
bower_components
node_modules
