*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.tmp*
.*.cfg
.installed.txt
*-mxdev.txt
.DS_Store
.idea
/.make-sentinels/
/bin/
/build/
/develop-eggs/
/devsrc/
/dist/
/docs/_screenshots/*.png
/downloads/
/eggs/
/extras/
/fake-eggs/
/html/
/include/
/instance/
/lib/
/local/
/parts/
/resources/theme/
/result
/var/
/venv/
/sources/
.python-version/
components
node_modules
!.isort.cfg
src/plone/app/mosaic/browser/static/js/mosaic-compiled.js
bootstrap-buildout.py
pip-selfcheck.json
.Python
.python-version
pyvenv.cfg
package-lock.json
stats.json
=*
stamp-yarn
yarn-error.log

# robot test
robot_*
test_*
