[buildout]
extends = versions.cfg

[robot]
# Usage: bin/robot-server plone.app.mosaic.testing.PLONE_APP_MOSAIC_ROBOT -v
recipe = zc.recipe.egg
eggs =
    Pillow
    Plone
    plone.app.robotframework [debug]
    cssselect
    Sphinx
    sphinx-rtd-theme
    sphinxcontrib-robotframework
    robotframework-selenium2library
    robotframework-selenium2screenshots
    ${test:eggs}
scripts =
    robot-server
    sphinx-build=robot-sphinx
    pybot

[sphinx-build]
recipe = zc.recipe.egg
eggs = ${robot:eggs}
scripts = sphinx-build

[code-analysis]
directory = src
flake8-ignore = E501,C901

[versions]
setuptools =
zc.buildout =
coverage = >=3.7
plone.app.mosaic =
