[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg

package-name = plone.app.mosaic
package-extras = [test]
versions = versions

parts +=
    robot
    sphinx-build
    pybot
    demo

extensions = mr.developer
auto-checkout = *
sources-dir = ${:directory}/extras
versions = versions

[robot]
# Usage: bin/robot-server plone.app.mosaic.testing.PLONE_APP_MOSAIC_ROBOT -v
recipe = zc.recipe.egg
eggs =
    Pillow
    Plone
    plone.app.robotframework [debug]
    Sphinx
    sphinx-rtd-theme
    sphinxcontrib-robotframework [docs]
    robotframework-selenium2screenshots
    ${test:eggs}
scripts =
    robot-server
    sphinx-build=robot-sphinx
    pybot=robot

[sphinx-build]
recipe = zc.recipe.egg
eggs = ${robot:eggs}
scripts = sphinx-build

[pybot]
recipe = zc.recipe.egg
eggs = ${robot:eggs}
scripts = pybot

[demo]
# Usage: bin/demo
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework
initialization =
    import sys
    sys.argv.extend(['plone.app.mosaic.testing.PLONE_APP_MOSAIC_ROBOT', '-v'])
scripts =
    robot-server=demo

[remotes]
plone = https://github.com/plone

[versions]
Pygments = 1.6
robotframework = 2.8.4
plone.app.robotframework = 0.9.2
robotframework-selenium2library = 1.5.0
robotsuite = 1.5.0
plone.app.testing = 4.2.4

z3c.form = 3.2.1
plone.app.jquery = 1.8.3
plone.app.event = 1.2.5
plone.app.portlets = 2.5.1
plone.app.contenttypes = 1.2a2
plone.app.vocabularies = 2.1.15
plone.app.outputfilters = 1.14

[sources]
plone.tiles = git ${remotes:plone}/plone.tiles.git
plone.app.tiles = git ${remotes:plone}/plone.app.tiles.git
plone.app.blocks = git ${remotes:plone}/plone.app.blocks.git branch=mosaicsprint
plone.app.standardtiles = git ${remotes:plone}/plone.app.standardtiles.git branch=mosaicsprint
