exclude Makefile *.cfg *.in *.nix *.sh *.conf *.js *.json Procfile .jshintrc
global-exclude *.pyc __pycache__
graft docs
graft src
include mx.ini
include LICENSE *.txt *.rst *.GPL *.py
include *.lock
include *.md
include *.yaml
include .prettierignore
recursive-include *.js *.map
prune docs/_screenshots
prune resources
prune tests
