[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

extensions =
    mr.developer

parts +=
    pybot
    sphinx-build
    test
    createcoverage

find-links +=
    http://dist.plone.org/release/5.2a1/

package-name = plone.app.mosaic
package-extras = [test]

test-eggs =

auto-checkout =
#   mosaic additional
    plone.app.drafts
#   py3 fixes
    plone.app.layout

sources-dir = ${:directory}/extras

[remotes]
plone = https://github.com/plone
plone_push = git+ssh://git@github.com/plone

[sources]
plone.app.drafts = git ${remotes:plone}/plone.app.drafts.git pushurl=${remotes:plone_push}/plone.app.drafts branch=py3plone52

# py3 fix ... remove after release
plone.app.layout = git ${remotes:plone}/plone.app.layout.git pushurl=${remotes:plone_push}/plone.app.layout branch=master
