.mosaic-panel-dragging .mosaic-resize-handle,
.mosaic-panel-resizing .mosaic-resize-handle-1:hover,
.mosaic-panel-resizing .mosaic-resize-handle-2:hover,
.mosaic-panel-resizing .mosaic-resize-handle-3:hover,
.mosaic-panel-resizing .mosaic-resize-handle-4:hover,
.mosaic-panel-resizing .mosaic-resize-handle-5:hover,
.mosaic-panel-resizing .mosaic-resize-handle-6:hover,
.mosaic-panel-resizing .mosaic-resize-handle-7:hover,
.mosaic-panel-resizing .mosaic-resize-handle-8:hover,
.mosaic-panel-resizing .mosaic-resize-handle-9:hover,
.mosaic-panel-resizing .mosaic-resize-handle-10:hover,
.mosaic-panel-resizing .mosaic-resize-handle-11:hover {
  display: none;
}

.mosaic-panel-resizing {
    cursor: ew-resize;
}

.mosaic-row-resizing .mosaic-tile {
    opacity: 0.5 !important;
}

.mosaic-resize-handle {
    position: absolute;
    height: auto;
    top: 0px;
    bottom: 0px;
    width: 12px !important;
    max-width: 12px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    left: -6px;
    z-index: 500;
    cursor: ew-resize;
    display: none;
}

.mosaic-resize-handle:hover {
    background-image: url(../img/window.png);
    background-position: -45px 0px;
}

.mosaic-resize-handle.mosaic-resize-handle-helper {
    background: url(../img/window.png) 0px 0px;
}

.mosaic-resize-placeholder {
    position: absolute !important;
    height: 100%;
    z-index: 100;
}

.mosaic-resize-placeholder-inner-border {
    position: absolute;
    border: dotted 1px #888;
    width: auto;
    height: auto;
    z-index: 40;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    .info {
        position: absolute;
        right: 0px;
        border: 1px dashed #3569d0;
        background: white;
        padding: 3px 7px;
        color: #3569d0;
    }

}

.mosaic-resize-0 {
    margin-left: 0%;
}

.mosaic-resize-1 {
    margin-left: 8.33%;
}

.mosaic-resize-2 {
    margin-left: 16.66%;
}

.mosaic-resize-3 {
    margin-left: 25%;
}

.mosaic-resize-4 {
    margin-left: 33.33%;
}

.mosaic-resize-5 {
    margin-left: 41.66%;
}

.mosaic-resize-6 {
    margin-left: 50%;
}

.mosaic-resize-7 {
    margin-left: 58.33%;
}

.mosaic-resize-8 {
    margin-left: 66.66%;
}

.mosaic-resize-9 {
    margin-left: 75%;
}

.mosaic-resize-10 {
    margin-left: 83.33%;
}

.mosaic-resize-11 {
    margin-left: 91.66%;
}

.mosaic-resize-12 {
    margin-left: 100%;
}

.mosaic-layout-customized {
    .mosaic-resize-handle {
        display: block;
    }
}
