.mosaic-grid-row {
  position: relative;
}

body.template-layout,
body.mosaic-enabled {
  &.no-portlet-columns {
    .outer-wrapper > .container {
      max-width: unset;
      padding-left: unset;
      padding-right: unset;

      > .row {
        margin: 0;
        #portal-column-content {
          padding: 0;
        }
      }

      .mosaic-grid-row.mosaic-grid-row-fluid {
        max-width: unset;
        padding-left: unset;
        padding-right: unset;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
