<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" data-layout="./@@page-site-layout">
  <body>
    <div data-panel="content">
      <div class="deco-grid-row">
        <div class="deco-grid-cell deco-width-full deco-position-leftmost">
          <div class="deco-tile deco-plone.app.standardtiles.title-tile movable">
            <div class="deco-tile-content">
              <div data-tile="./@@plone.app.standardtiles.title"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="deco-grid-row">
        <div class="deco-grid-cell deco-width-full deco-position-leftmost">
          <div class="movable removable deco-tile deco-plone.app.standardtiles.description-tile">
            <div class="deco-tile-content">
              <div data-tile="./@@plone.app.standardtiles.description"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
