.mosaic-panel-dragging .mosaic-resize-handle,
.mosaic-panel-dragging .mosaic-resize-handle:hover,
.mosaic-panel-resizing .mosaic-resize-handle,
.mosaic-panel-resizing .mosaic-resize-handle:hover {
  display: none;
}

.mosaic-panel-resizing {
    cursor: ew-resize;
}

.mosaic-row-resizing .mosaic-tile {
    opacity: 0.5 !important;
}

.mosaic-resize-handle {
    position: absolute;
    height: auto;
    top: 0px;
    bottom: 0px;
    width: 12px !important;
    max-width: 12px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    left: -6px;
    z-index: 500;
    cursor: ew-resize;
    display: none;
    border-width:4px;
    border-color:var(--bs-primary);
}

.mosaic-resize-handle:hover {
    border-right-style:dashed;
}

.mosaic-resize-handle.mosaic-resize-handle-helper {
    border-right-style:solid;
}

.mosaic-resize-placeholder {
    position: absolute !important;
    height: 100%;
    z-index: 100;
}

.mosaic-resize-placeholder-inner-border {
    position: absolute;
    border: dotted 1px #888;
    width: auto;
    height: auto;
    z-index: 40;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    .info {
        position: absolute;
        right: 0px;
        border: 1px dashed #3569d0;
        background: white;
        padding: 3px 7px;
        color: #3569d0;
    }

}

$resize-handle-perc: (
    "0": 0,
    "1": 8.33%,
    "2": 16.66%,
    "3": 25%,
    "4": 33.33%,
    "5": 41.66%,
    "6": 50%,
    "7": 58.33%,
    "8": 66.66%,
    "9": 75%,
    "10": 83.33%,
    "11": 91.66%,
    "12": 100%,
);

@each $pos, $perc in $resize-handle-perc {
    .mosaic-resize-#{$pos} {
        margin-left:$perc;
    }
}

@each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        .mosaic-grid-row-fluid-background {
            @each $pos, $perc in $resize-handle-perc {
                .mosaic-resize-#{$pos} {
                    margin-left:calc((100% - $container-max-width) * .5 + $container-max-width * #{$perc});
                }
            }
        }
    }
}

.mosaic-layout-customized {
    .mosaic-resize-handle {
        display: block;
    }
}
