.mosaic-enabled {
    /* XXX these are necessary fixes for tinymce menus
     that are floating */
    position: relative;

    // no border
    div.mce-content-body[contenteditable="true"] {
        border:none;
        border-radius:0;
    }

    .mce-floatpanel.mce-arrow-up {
        // XXX fixes table menu panel floating above modals
        z-index: 2999 !important;
    }
    /* tinymce scrolled out of view handling */
    .mosaic-panel {
        .mosaic-rich-text-toolbar.sticky {
            z-index: 10000;
            position: fixed;
            margin-top: -19px;
        }
        .mosaic-rich-text-toolbar.right {
            right: 0;
        }
    }

    .mce-floatpanel.mce-fixed {
        position: absolute;
    }
    &.mce-sticky .mce-floatpanel.mce-fixed {
        position: fixed;
    }
}
