.mosaic-grid-row .mosaic-set-custom-css {
    font-size: $font-size-sm;
    position: absolute;
    bottom: 0;
    text-align: right;
    z-index: 501;
    background-color: $gray-500;

    //   background:#f9f9f9;
    input {
        min-width: 30%;
        font-size: $font-size-sm;
        height: 1.2rem;
    }
}

.mosaic-divider {
    position: absolute;
    z-index: 600;
    display: none;
    border-width: 4px;
    border-color: var(--bs-success);

    /* general divider container needs width and height to be droppable */
    width: 12px;
    height: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.mosaic-divider-top {
        top:-3px;
        width: auto;
        bottom: auto;
        border-top-style: solid;
    }
    &.mosaic-divider-bottom {
        bottom: -3px;
        width: auto;
        top: auto;
        border-bottom-style: solid;
    }

    &.mosaic-divider-right {
        right: -3px;
        height: auto;
        left: auto;
        border-right-style: solid;
    }

    &.mosaic-divider-left {
        left: -3px;
        height: auto;
        right: auto;
        border-left-style: solid;
    }
}

.mosaic-selected-divider {
    display: block !important;
}
