/* Placeholders */
.mosaic-panel .documentFirstHeading,
.mosaic-panel .documentDescription {
    min-height: 1.1875em;
}

/* Opacity icons */
.mosaic-blur {
    opacity: 0.4;
}

/* Hover icons */
.mosaic-tile-control {
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 500;
    display: none;
}

.mosaic-drag-handle {
    background: transparent none no-repeat center center;
    top: 0px;
    bottom: 0px;
    height: auto;
    width: auto;
    left: 0px;
    right: 0px;
    cursor: move;
}

.mosaic-selected-tile .mosaic-drag-handle {
    z-index: 1;
}

.mosaic-tile-buttons {
  bottom: -2rem;
  height: auto;
  right: 0px;
  top: auto;
  width: auto;

  > .btn {
    margin-left:0.25rem;
  }
}

.mosaic-selected-tile .mosaic-tile-side-tools,
.mosaic-tile:hover .mosaic-tile-side-tools,
.mosaic-tile:focus .mosaic-tile-side-tools,
.mosaic-advanced .mosaic-tile-side-tools {
    display: block !important;
}

.mosaic-tile-side-tools {
  top: -2px;
  left: -102px;
  width: 100px;
}

.mosaic-selected-tile .mosaic-tile-label,
.mosaic-tile:hover .mosaic-tile-label,
.mosaic-tile:focus .mosaic-tile-label,
.mosaic-advanced .mosaic-tile-label {
    display: block;
}

.mosaic-tile-label {
    color: white;
    text-align: right;
    background-color: #3469d0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size:80%;
    font-weight:bold;
    padding:2px 5px;
    margin-bottom:2px;

    a {
      color: white;
      text-decoration: none;
      &:hover, &:active, &:focus {
        color: white;
      }
    }
}

.mosaic-info-icon:hover {
    background-position: -28px -56px;
}

.mosaic-tile:hover .mosaic-tile-control {
    display: none;
}

.mosaic-selected-tile .mosaic-tile-control {
    display: block !important;
}

/* Show move icon while hovering over a tile */
.mosaic-tile:hover .mosaic-drag-handle {
    display: block;
}

/* Hide icons while dragging or resizing*/
.mosaic-panel-dragging {
    min-height: 1px;
}

.mosaic-panel-dragging .mosaic-tile:hover .mosaic-tile-control {
    display: none;
}

.mosaic-panel-resizing .mosaic-tile:hover .mosaic-tile-control {
    display: none;
}

/* Show move icon on helper */
.mosaic-helper-tile .mosaic-drag-handle {
    display: block !important;
}

/* Empty row */
.mosaic-panel-dragging {
  .mosaic-empty-row:nth-last-child(2),
  .mosaic-empty-row:first-child {
    height: 12px;
  }

  .mosaic-grid-row:not(.mosaic-empty-row) {
    .mosaic-empty-row {
        height: 12px;
    }
  }
}

/* Inner subcolumns */
.mosaic-panel .mosaic-innergrid-row:hover {
    border: dashed 2px #3469d0;
    padding-top: 10px;
}

.mosaic-panel.mosaic-advanced {
  .mosaic-empty-row:first-child + .mosaic-grid-row {
    border-top: 2px dashed #ccc;
  }

  .mosaic-grid-row:not(.mosaic-empty-row):not(:last-child) {
    padding: 5px;
    border-bottom: 2px dashed #ccc;
    border-left: 2px dashed #ccc;
    border-right: 2px dashed #ccc;

    .mosaic-grid-cell {
      position: relative;
      padding: 5px;
      border-left: 2px dashed #ccc;
    }

    .mosaic-grid-cell:first-child {
      border-left: none;
    }

    .mosaic-innergrid-row:hover {
      border: dashed 2px #3469d0;
      padding-top: 10px;
    }

    .mosaic-innergrid-row {
      padding: 5px;
      border-bottom: 2px dashed #ccc;
      border-left: 2px dashed #ccc;
      border-right: 2px dashed #ccc;
      border-top: 2px dashed #ccc;
      margin-left: -7px;
      margin-right: 0px;
      margin-bottom: 10px;

      .mosaic-grid-cell {
        padding: 5px;
        border-left: 2px dashed #ccc;
      }

      .mosaic-grid-cell:first-child {
        border-left: none;
      }

    }
  }

  .mosaic-empty-row .mosaic-grid-cell {
    height: 12px;
    > div {
      height: 12px;
    }
  }

  /* Add room for empty row placeholders when dragging */
  &.mosaic-panel-dragging {
    .mosaic-grid-row:not(:last-child) {
      border-top: 2px dashed #ccc;
      &.mosaic-empty-row {
        margin-top: 6px;
        height: 12px;
        border: none;
      }
    }
  }

  /* Add row style labels */
  .mosaic-grid-row:not(.mosaic-empty-row):not(:last-child):after {
    position: absolute;
    display: block;
    content: attr(class);
    color: #aaa;
    font-weight: bold;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    white-space: nowrap;
    background: #f9f9f9;
    text-align: right;
    padding: 0 5px;
    font-size:$font-size-sm;
  }
}
/* @end */
