
.mosaic-panel {
    position: relative;
    --plone-mosaic-tiles-outer-border-width: 1px;
    --plone-mosaic-tiles-outer-border-style: solid;
    --plone-mosaic-tiles-outer-border-style-active: solid;
    --plone-mosaic-tiles-outer-border-color: transparent;
    --plone-mosaic-tiles-outer-border-color-hover: #{$gray-300};
    --plone-mosaic-tiles-outer-border-color-active: #{$primary};
    --plone-mosaic-tiles-inner-border-width: 1px;
    --plone-mosaic-tiles-inner-border-style: dotted;
    --plone-mosaic-tiles-inner-border-color: transparent;
    --plone-mosaic-tiles-inner-border-color-hover: #{$gray-300};
    --plone-mosaic-tiles-inner-border-color-active: #{$primary};
}

.mosaic-panel.mosaic-advanced {
    --plone-mosaic-tiles-outer-border-style: dashed;
    --plone-mosaic-tiles-outer-border-color: #{$gray-300};
    --plone-mosaic-tiles-outer-border-color-hover: #{$primary};
    --plone-mosaic-tiles-inner-border-color: #{$gray-100};
    --plone-mosaic-tiles-inner-border-color-hover: #{$primary};
}

.mosaic-panel .mosaic-tile .hiddenStructure,
#content .mosaic-panel .mosaic-tile .hiddenStructure  {
    display: none;
}

.mosaic-panel .mosaic-tile {
  position: relative;
  z-index: 100;

  &.mosaic-selected-tile{
    z-index: 101;
  }
}

.mosaic-panel .mosaic-tile .mosaic-tile-content {
  position: relative;
  z-index: 100;
}

.mosaic-panel .mosaic-tile-content textarea, .mosaic-tile-content input[type=text] {
  width: 100%;
}

/* Outer border */
.mosaic-panel .mosaic-tile-outer-border {
    position: absolute;
    border: var(--plone-mosaic-tiles-outer-border-style) var(--plone-mosaic-tiles-outer-border-width) var(--plone-mosaic-tiles-outer-border-color);
    width: auto;
    height: auto;
    z-index: 40;
    right: calc(var(--plone-mosaic-tiles-outer-border-width) * -1);
    left: calc(var(--plone-mosaic-tiles-outer-border-width) * -1);
    top: calc(var(--plone-mosaic-tiles-outer-border-width) * -1);
    bottom: calc(var(--plone-mosaic-tiles-outer-border-width) * -1);
}

/* Inner border */
.mosaic-panel .mosaic-tile-inner-border {
    position: absolute;
    border: var(--plone-mosaic-tiles-inner-border-style) var(--plone-mosaic-tiles-inner-border-width) var(--plone-mosaic-tiles-inner-border-color);
    width: auto;
    height: auto;
    z-index: 40;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

/* Border on mouse over */
.mosaic-panel .mosaic-tile:hover .mosaic-tile-outer-border {
    border: var(--plone-mosaic-tiles-outer-border-style) var(--plone-mosaic-tiles-outer-border-width) var(--plone-mosaic-tiles-outer-border-color-hover);
}

/* fixed read-only border color */
.mosaic-panel .mosaic-tile.mosaic-read-only-tile:hover .mosaic-tile-outer-border {
  border: var(--plone-mosaic-tiles-outer-border-style) var(--plone-mosaic-tiles-outer-border-width) #d0d0d0;
}

/* Hide hover border when dragging or resizing*/
.mosaic-panel .mosaic-panel-dragging .mosaic-tile:hover .mosaic-tile-outer-border {
    border: var(--plone-mosaic-tiles-outer-border-style) var(--plone-mosaic-tiles-outer-border-width) transparent;
}

.mosaic-panel .mosaic-panel-resizing .mosaic-tile:hover .mosaic-tile-outer-border {
    border: var(--plone-mosaic-tiles-outer-border-style) var(--plone-mosaic-tiles-outer-border-width) transparent;
}

/* Selected tile */
.mosaic-panel .mosaic-selected-tile {
    background-color:var(--bs-light);
    &, &:hover {
        .mosaic-tile-outer-border {
            border: var(--plone-mosaic-tiles-outer-border-style-active) var(--plone-mosaic-tiles-outer-border-width) var(--plone-mosaic-tiles-outer-border-color-active) !important;
        }
    }
}
/* selected readonly tile */
.mosaic-panel .mosaic-selected-tile.mosaic-read-only-tile {
    &, &:hover {
        .mosaic-tile-outer-border {
            background-color: var(--bs-light);
        }
    }
}
/* resizing on selected tile */
.mosaic-panel .mosaic-panel-resizing .mosaic-selected-tile.mosaic-tile {
    &, &:hover {
        .mosaic-tile-outer-border {
            border: var(--plone-mosaic-tiles-outer-border-style-active) var(--plone-mosaic-tiles-outer-border-width) transparent;
            background-color: transparent;
        }
    }
    .mosaic-tile-control {
        display: none !important;
    }
}

/* Selected tile on remove button hover */
.mosaic-panel .mosaic-remove-target {
    outline: 5px solid #c4183c;
}

/* Other tiles while dragging */
.mosaic-panel .mosaic-panel-dragging .mosaic-tile .mosaic-tile-inner-border {
    border: var(--plone-mosaic-tiles-inner-border-style) var(--plone-mosaic-tiles-inner-border-width) $gray-600;
}

/* Hide inner border of helper while dragging */
.mosaic-panel .mosaic-panel-dragging .mosaic-helper-tile .mosaic-tile-inner-border {
    border: 1px transparent;
}

.mosaic-panel .mosaic-panel-dragging-new {
    cursor: crosshair !important;
}

.mosaic-panel .mosaic-panel-dragging-new:hover {
    cursor: crosshair !important;
}

/* Rich text */
body.mosaic-enabled .tox-tinymce-inline {
    z-index:200;
}

.mosaic-panel table.mce-item-table {
    th, td {
        border: 1px dotted #ccc;
        min-width: 1em;
    }
}

/* Line break in description tile */
.mosaic-panel .documentDescription + .documentDescription {
    margin-top: -10px;
}

/* Helper border */
.mosaic-panel .mosaic-tile.mosaic-helper-tile {
    border: var(--plone-mosaic-tiles-outer-border-style) var(--plone-mosaic-tiles-outer-border-width) #3469d0;
    z-index: 1000;
    opacity: 0.5;
    position: absolute;
}

.mosaic-panel .mosaic-panel-dragging .mosaic-tile-align-left {
    z-index: 50;
}

.mosaic-panel .mosaic-panel-dragging .mosaic-tile-align-right {
    z-index: 50;
}

.mosaic-panel .mosaic-original-tile {
    opacity: 0.5;
}

/* Empty row */
.mosaic-panel .mosaic-empty-row .mosaic-grid-cell {
    display: none;
}

.mosaic-panel .mosaic-empty-row .mosaic-grid-cell > div {
    position: relative;
}
/* @end */

/* Empty tile */
.mosaic-enabled .mosaic-panel .mosaic-tile {
  min-height: 20px;
}
/* @end */

/* Various fixes */
.mosaic-enabled .select2-results {
  // Arbitrary, but necessary for e.g. long lists in TinyMCE Insert Image
  max-height: 320px;
}
/* @end */
