.mosaic-panel {
    position: relative;
    --plone-mosaic-tiles-border-width: 1px;
    --plone-mosaic-tiles-border-style: dashed;
    --plone-mosaic-tiles-border-style-active: solid;
    --plone-mosaic-tiles-border-color: #{$gray-500};
    --plone-mosaic-tiles-border-color-muted: #{$gray-300};
    --plone-mosaic-tiles-border-color-hover: #{$primary};
    --plone-mosaic-tiles-border-color-active: #{$primary};
}


.mosaic-panel .mosaic-tile .hiddenStructure,
#content .mosaic-panel .mosaic-tile .hiddenStructure {
    display: none;
}

.mosaic-panel .mosaic-tile {
    position: relative;
    z-index: 100;
    border: var(--plone-mosaic-tiles-border-style) var(--plone-mosaic-tiles-border-width) var(--plone-mosaic-tiles-border-color);

    &.mosaic-selected-tile {
        z-index: 101;
        background-color: var(--bs-tertiary-bg);

        &,
        &:hover {
            border: var(--plone-mosaic-tiles-border-style-active) var(--plone-mosaic-tiles-border-width) var(--plone-mosaic-tiles-border-color-active) !important;
        }
    }

    &:hover {
        border: var(--plone-mosaic-tiles-border-style) var(--plone-mosaic-tiles-border-width) var(--plone-mosaic-tiles-border-color-hover);
    }

    &.mosaic-read-only-tile:hover {
        border: var(--plone-mosaic-tiles-border-style) var(--plone-mosaic-tiles-border-width) #d0d0d0;
    }

    .mosaic-tile-content {
        position: relative;
        z-index: 100;

        textarea,
        input[type="text"] {
            width: 100%;
        }
    }

}

/* Hide hover border when dragging or resizing*/
.mosaic-panel .mosaic-panel-dragging .mosaic-tile:hover {
    border: var(--plone-mosaic-tiles-border-style) var(--plone-mosaic-tiles-border-width) transparent;
}

.mosaic-panel .mosaic-panel-resizing .mosaic-tile:hover {
    border: var(--plone-mosaic-tiles-border-style) var(--plone-mosaic-tiles-border-width) transparent;
}

/* selected readonly tile */
.mosaic-panel .mosaic-selected-tile.mosaic-read-only-tile {

    &,
    &:hover {
        background-color: var(--bs-light);
    }
}

/* resizing on selected tile */
.mosaic-panel .mosaic-panel-resizing .mosaic-selected-tile.mosaic-tile {

    &,
    &:hover {
        border: var(--plone-mosaic-tiles-border-style-active) var(--plone-mosaic-tiles-border-width) transparent;
        background-color: transparent;
    }

    .mosaic-tile-control {
        display: none !important;
    }
}

/* Selected tile on remove button hover */
.mosaic-panel .mosaic-remove-target {
    outline: 5px solid #c4183c;
}

/* Hide inner border of helper while dragging */
.mosaic-panel .mosaic-panel-dragging .mosaic-helper-tile {
    border: 1px transparent;
}

.mosaic-panel .mosaic-panel-dragging-new {
    cursor: crosshair !important;
}

.mosaic-panel .mosaic-panel-dragging-new:hover {
    cursor: crosshair !important;
}

/* Rich text */
body.mosaic-enabled .tox-tinymce-inline {
    z-index: 200;
}

.mosaic-panel table.mce-item-table {

    th,
    td {
        border: 1px dotted #ccc;
        min-width: 1em;
    }
}

/* Line break in description tile */
.mosaic-panel .documentDescription+.documentDescription {
    margin-top: -10px;
}

/* Helper border */
.mosaic-panel .mosaic-tile.mosaic-helper-tile {
    border: var(--plone-mosaic-tiles-border-style) var(--plone-mosaic-tiles-border-width) #3469d0;
    z-index: 1000;
    opacity: 0.5;
    position: absolute;
}

.mosaic-panel .mosaic-panel-dragging .mosaic-tile-align-left {
    z-index: 50;
}

.mosaic-panel .mosaic-panel-dragging .mosaic-tile-align-right {
    z-index: 50;
}

.mosaic-panel .mosaic-original-tile {
    opacity: 0.5;
}

/* Empty row
   UPDATE: make empty rows always visible to make it clear to the user where he drops the tiles.
*/
body.mosaic-layout-customized .mosaic-panel .mosaic-empty-row {
    padding: 5px 0;

    .mosaic-grid-cell {
        > div {
            border: var(--plone-mosaic-tiles-border-style) var(--plone-mosaic-tiles-border-width) var(--plone-mosaic-tiles-border-color-muted);
            min-height: $spacer;
        }
        &.mosaic-selected-divider > div {
            border: solid 4px var(--bs-success);

        }
    }
}

/* @end */

/* Empty tile */
.mosaic-enabled .mosaic-panel .mosaic-tile {
    min-height: $spacer;
}

/* @end */

/* Various fixes */
.mosaic-enabled .select2-results {
    // Arbitrary, but necessary for e.g. long lists in TinyMCE Insert Image
    max-height: 320px;
}

.mosaic-menu-format .select2-results .select2-active {
    color: var(--plone-link-color);
    background-color: var(--bs-secondary-bg);
}

/* @end */
