@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";

@import "mosaic.toolbar.scss";
@import "mosaic.authoring.dragging.scss";
@import "mosaic.authoring.dividers.scss";
@import "mosaic.authoring.resizing.scss";
@import "mosaic.authoring.tiles.scss";
@import "mosaic.layouts.scss";
@import "mosaic.tinymce.scss";

/* Disable user-select outside currently selected tile */
.mosaic-enabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .mosaic-selected-tile {
        -webkit-touch-callout: default;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    .mosaic-panel-dragging {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .mosaic-tile,
        .mosaic-selected-tile {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}

.mosaic-hidden {
    display: none !important;
}
