.mosaic-panel-resizing {
    cursor: ew-resize;
}

.mosaic-row-resizing .mosaic-tile {
    opacity: 0.5 !important;
}

// general resize-handle setup
.mosaic-grid-row {
    .mosaic-resize-handle {
        display: none;
        position: absolute;
        height: auto;
        top: 5px;
        bottom: 5px;
        width: 12px;
        padding-right: 0;
        padding-left: 0;
        left: -10px;
        z-index: 200;
        cursor: ew-resize;
        border-right: 3px solid var(--bs-gray-300);

        &:hover {
            border-right-color: var(--bs-primary);
        }

        &.mosaic-resize-handle-helper {
            border-right-style: solid;
            border-right-color: var(--bs-primary);
            display: block;
        }
    }
}

// show handles only when customized layout and not resizing/dragging
body.mosaic-layout-customized {
    .mosaic-panel:not(.mosaic-panel-resizing, .mosaic-panel-dragging) {
        .mosaic-grid-row {
            .mosaic-resize-handle {
                display: block;
            }
        }
    }
}

.mosaic-resize-placeholder {
    position: absolute;
    height: 100%;
    z-index: 100;
}

.mosaic-resize-placeholder-inner-border {
    position: relative;
    border: dotted 1px #888;
    width: 100%;
    height: 100%;

    .info {
        position: absolute;
        right: 0px;
        border: 1px dashed var(--bs-primary);
        background: white;
        padding: 3px 7px;
        color: var(--bs-primary);
    }
}

.mosaic-resize-0 {
    margin-left: 0;
}

// 5-column support
$resize-handle-5-col: (
    "2\\.4": 0.2,
    "4\\.8": 0.4,
    "7\\.2": 0.6,
    "9\\.6": 0.8,
);

// general percentage resize-handles (works if not row-fluid-background)
@for $i from 1 through $grid-columns {
    .mosaic-resize-#{$i} {
        margin-left: percentage(divide($i, $grid-columns));
    }

    .mosaic-resize-placeholder.col-#{$i} {
        max-width: percentage(divide($i, $grid-columns));
    }
}

@each $i, $width in $resize-handle-5-col {
    .mosaic-resize-#{$i} {
        margin-left: percentage(divide($width, $grid-columns));
    }
}

// fix handles with fluid background padding-left
.mosaic-grid-row.mosaic-grid-row-fluid-background {
    @each $breakpoint, $container-max-width in $container-max-widths {
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
            .mosaic-resize-handle {
                left: calc((100% - $container-max-width) * 0.5 - 10px);
            }

            @for $i from 1 through $grid-columns {
                .mosaic-resize-#{$i} {
                    margin-left: $container-max-width * divide($i, $grid-columns);
                }

                .mosaic-resize-placeholder.col-#{$i} {
                    max-width: $container-max-width * divide($i, $grid-columns);
                }
            }

            @each $i, $width in $resize-handle-5-col {
                .mosaic-resize-#{$i} {
                    margin-left: $container-max-width * $width;
                }
            }
        }
    }
}
