/* Placeholders */
.mosaic-panel .documentFirstHeading,
.mosaic-panel .documentDescription {
    min-height: 1.1875em;
}

/* Opacity icons */
.mosaic-blur {
    opacity: 0.4;
}

/* Hover icons */
.mosaic-tile-control {
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 500;
    display: none;
}

.mosaic-drag-handle {
    background: transparent none no-repeat center center;
    top: 0px;
    bottom: 0px;
    height: auto;
    width: auto;
    left: 0px;
    right: 0px;
    cursor: move;
}

.mosaic-selected-tile .mosaic-drag-handle {
    z-index: 1;
}

.mosaic-tile-buttons {
  bottom: 0px;
  height: auto;
  right: 0px;
  top: auto;
  width: auto;

  button,
  button:hover {
    /* also some reset in here */
    background-color: #f8f8f8;
    border-left: 1px solid #dedede;
    border-top: 1px solid #dedede;
    color: #292929;
    margin: 0px;
    padding: 6px 8px;
  }

  button:hover {
    background-color: #fff;
  }

  button:first-child {
    border-top-left-radius: 5px;
  }

  button::before {
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    margin: 0em 0.3em 0.4em 0.1em;
    text-align: center;
    vertical-align: middle;
  }

  .mosaic-btn-settings::before {
    content: url('../img/edit.svg');
  }

  .mosaic-btn-delete::before {
    content: url('../img/remove.svg');
  }

  .mosaic-btn-confirm::before {
    content: url('../img/confirm.svg');
  }
}

.mosaic-selected-tile .mosaic-tile-label,
.mosaic-tile:hover .mosaic-tile-label,
.mosaic-tile:focus .mosaic-tile-label {
    display: block !important;
}

.mosaic-tile-label {
    top: -2px;
    left: -252px;
    width: 250px;
    color: white;
    height: 24px;
    text-align: right;
}

.mosaic-tile-label-left {
    float: right;
    width: 8px;
    height: 24px;
    background: #545454;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.mosaic-tile-label-content {
    height: 24px;
    font-size: 80%;
    font-weight: bold;
    line-height: 24px;
    background: #545454;
    float: right;
    position: relative;
    padding-left: 4px;
    padding-right: 8px;
}

.mosaic-info-icon:hover {
    background-position: -28px -56px;
}

.mosaic-tile:hover .mosaic-tile-control {
    display: none;
}

.mosaic-selected-tile .mosaic-tile-control {
    display: block !important;
}

/* Show move icon while hovering over a tile */
.mosaic-tile:hover .mosaic-drag-handle {
    display: block;
}

/* Hide icons while dragging or resizing*/
.mosaic-panel-dragging {
    min-height: 1px;
}

.mosaic-panel-dragging .mosaic-tile:hover .mosaic-tile-control {
    display: none;
}

.mosaic-panel-resizing .mosaic-tile:hover .mosaic-tile-control {
    display: none;
}

/* Show move icon on helper */
.mosaic-helper-tile .mosaic-drag-handle {
    display: block !important;
}

/* Empty row */
.mosaic-panel-dragging .mosaic-empty-row {
    height: 12px;
}

.mosaic-panel-dragging .mosaic-empty-row .mosaic-grid-cell {
    height: 12px;
}

.mosaic-panel-dragging .mosaic-empty-row .mosaic-grid-cell > div {
    height: 12px;
}
/* @end */
