/* This is still used by Plone 5 until refactored styles are adapted */

/* @group Toolbar */

.mosaic-toolbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10000000;
}

.mosaic-toolbar-content {
    background: #2c6596;
    background-image: -moz-linear-gradient(top, #2c6596, #3272aa);
    background-image: -ms-linear-gradient(top, #2c6596, #3272aa);
    background-image: -o-linear-gradient(top, #2c6596, #3272aa);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2c6596), to(#3272aa));
    background-image: -webkit-linear-gradient(top, #2c6596, #3272aa);
    background-image: linear-gradient(top, #2c6596, #3272aa);
    border-top: 1px solid #387fbe;
    border-bottom: 1px solid #1b3d5b;
    height: 36px;
    z-index: 800;
    position: relative;
    padding: 16px;
}
.mosaic-toolbar fieldset {
    margin: 0;
    padding: 0;
    border: 0px;
}

.mosaic-inline-toolbar {
    position: relative;
}

.mosaic-toolbar-primary-functions {
    float:left;
}

.mosaic-toolbar-secondary-functions {
    float:right;
}

.mosaic-toolbar select,
.mosaic-toolbar button {
    float: left;
}

.mosaic-toolbar button,
.mosaic-toolbar label.mosaic-icon {
}

mosaic-toolbar button, x:-moz-any-link, X:default {
}

.mosaic-toolbar button.mosaic-icon,
.mosaic-toolbar label.mosaic-icon {
}

.mosaic-toolbar button:hover,
.mosaic-toolbar label.mosaic-icon:hover {
}

.mosaic-toolbar select:hover,
.mosaic-toolbar button.active,
.mosaic-toolbar label.mosaic-icon.active {
}

.mosaic-toolbar select {
}

/* @group Button Group */

.mosaic-toolbar .mosaic-button-group {
    float: left;
}

.mosaic-toolbar .mosaic-button-group button,
.mosaic-toolbar .mosaic-button-group label.mosaic-icon {
}

.mosaic-toolbar .mosaic-button-group > :first-child {
}

.mosaic-toolbar .mosaic-button-group > :last-child {
}

.mosaic-toolbar button.mosaic-first-half,
.mosaic-toolbar label.mosaic-first-half {
}

.mosaic-toolbar button.mosaic-last-half,
.mosaic-toolbar label.mosaic-last-half {
}

/* @end */

/* @group Selects */

.mosaic-toolbar label.mosaic-icon {
}

.mosaic-toolbar .mosaic-icon select {
}

/* @end */

.mosaic-hidden {
    display: none !important;
}
