<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link data-tile="./@@plone.app.standardtiles.headtitle" />
  <link data-tile="./@@plone.app.standardtiles.stylesheets" />
  <link data-tile="./@@plone.app.standardtiles.javascripts" />
</head>
<body>
<div id="visual-portal-wrapper">
  <div data-panel="content" id="content">
    <div data-panel="main">
      <div data-panel="content-core" id="content-core"></div>
    </div>
  </div>
</div>
</body>
</html>
