<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      data-layout="./@@page-site-layout">
<body>
<div data-panel="content">
    <div class="mosaic-grid-row">
        <div class="mosaic-grid-cell mosaic-width-half mosaic-position-leftmost">
            <div class="mosaic-tile mosaic-IDublinCore-description-tile">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.field?field=IDublinCore-description"></div>
                </div>
            </div>
        </div>
        <div class="mosaic-grid-cell mosaic-width-half mosaic-position-half">
            <div class="mosaic-read-only-tile mosaic-tile mosaic-plone.app.standardtiles.document_byline-tile">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.document_byline/document_byline"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mosaic-grid-row mosaic-grid-row-dark">
        <div class="mosaic-grid-cell mosaic-width-quarter mosaic-position-leftmost">
            <div class="mosaic-tile mosaic-IDublinCore-title-tile mosaic-tile-padding-right">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.field?field=IDublinCore-title"></div>
                </div>
            </div>
            <div class="mosaic-tile mosaic-IEventContact-event_url-tile mosaic-tile-padding-bottom">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.field?field=IEventContact-event_url"></div>
                </div>
            </div>
        </div>
        <div class="mosaic-grid-cell mosaic-width-quarter mosaic-position-quarter">
            <div class="mosaic-tile mosaic-text-tile">
                <div class="mosaic-tile-content"><p><strong>Starts</strong></p>
                </div>
            </div>
            <div class="mosaic-tile mosaic-IEventBasic-start-tile mosaic-tile-padding-bottom">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.field?field=IEventBasic-start"></div>
                </div>
            </div>
            <div class="mosaic-tile mosaic-text-tile">
                <div class="mosaic-tile-content"><p><strong>Ends</strong></p>
                </div>
            </div>
            <div class="mosaic-tile mosaic-IEventBasic-end-tile mosaic-tile-padding-bottom">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.field?field=IEventBasic-end"></div>
                </div>
            </div>
        </div>
        <div class="mosaic-grid-cell mosaic-width-quarter mosaic-position-half">
            <div class="mosaic-tile mosaic-text-tile">
                <div class="mosaic-tile-content"><p><strong>Where</strong></p>
                </div>
            </div>
            <div class="mosaic-tile mosaic-IEventLocation-location-tile mosaic-tile-padding-bottom">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.field?field=IEventLocation-location"></div>
                </div>
            </div>
        </div>
        <div class="mosaic-grid-cell mosaic-width-quarter mosaic-position-three-quarters">
            <div class="mosaic-tile mosaic-text-tile">
                <div class="mosaic-tile-content"><p>
                    <strong>Contact</strong><br></p></div>
            </div>
            <div class="mosaic-tile mosaic-IEventContact-contact_name-tile mosaic-tile-padding-bottom">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.field?field=IEventContact-contact_name"></div>
                </div>
            </div>
            <div class="mosaic-tile mosaic-IEventContact-contact_email-tile mosaic-tile-padding-bottom">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.field?field=IEventContact-contact_email"></div>
                </div>
            </div>
            <div class="mosaic-tile mosaic-IEventContact-contact_phone-tile mosaic-tile-padding-bottom">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.field?field=IEventContact-contact_phone"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mosaic-grid-row">
        <div class="mosaic-grid-cell mosaic-width-full mosaic-position-leftmost">
            <div class="mosaic-tile mosaic-IRichText-text-tile mosaic-selected-tile">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.field?field=IRichText-text"></div>
                </div>
            </div>
            <div class="mosaic-tile mosaic-text-tile">
                <div class="mosaic-tile-content"><p><strong>Attendees</strong>
                </p></div>
            </div>
            <div class="mosaic-tile mosaic-IEventAttendees-attendees-tile mosaic-tile-padding-bottom">
                <div class="mosaic-tile-content">
                    <div data-tile="./@@plone.app.standardtiles.field?field=IEventAttendees-attendees"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>